<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">
    <!-- Import Spring Boot defaults -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOGS" value="./logs"/>

    <!-- Colorized console output -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- File appender with rolling policy -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/mudda.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %logger{36} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 50 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/mudda-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!--  DEV  -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
        <logger name="com.mudda.backend" level="TRACE"/>
    </springProfile>

    <!--  PROD  -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
        </root>
        <logger name="com.mudda.backend" level="INFO"/>
    </springProfile>

</configuration>
